---
- hosts: Linux
  become: yes
  gather_facts: false

  vars:
    #server_name: "{{ ansible_default_ipv4.address }}"
    document_root: /var/www
    #app_root: html_demo_site-main
    ansible_user: "ubuntu"
    ansible_ssh_private_key_file: 'chave_privada_gitlab'
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_host_key_cheking: false 
  tasks:
    - name: Update apt cache and install Nginx
      apt:
        name: nginx
        state: latest
        update_cache: yes

    - name: Copy website files to the server's document root
      template:
        src: files/index.html
        dest: /var/www/html/
      notify: Restart Nginx

  handlers:
    - name: Restart Nginx
      service:
        name: nginx
        state: restarted
